[Unit]
Description=JIRA-MantisBT queue %i

[Service]
Restart=always

User=aegon
Group=users
WorkingDirectory=/var/local/mantis/jira-%i
ReadWriteDirectories=/var/local/mantis/jira-dev /var/local/mantis/jira-prd

EnvironmentFile=/var/local/mantis/jira-%i.env
ExecStart=/usr/local/bin/mantisbt-jira -v=2 -queue=/var/local/mantis/jira-%i serve

PrivateTmp=true
PrivateDevices=true
ProtectHome=true
ProtectSystem=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
